.nav-desktop ul li:hover,
.nav-mobile ul li:hover {
  text-decoration: underline 3px;
  cursor: pointer;
  text-decoration-color: var(--primary);
  color: var(--primary);
  text-underline-offset: 8px;
}
.nav-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}
.nav-desktop li {
  list-style: none;
}
.nav-desktop li a {
  padding: 16px;
  display: block;
}
.nav-desktop ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-icon {
  position: absolute;
  right: 50px;
  display: none;
}

@media (max-width: 850px) {

  .nav-con .nav-mobile ul li {
    padding: 30px 0;
  }

  .menu-icon {
    display: flex;
    right: 20px;
  }
  ul {
    margin-left: 0;
    padding: 0;
  }
  .nav-con {
    padding: 20px 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-mobile {
    width: 100%;
  }
  .nav-mobile ul {
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    margin: 0;
  }
  .nav-mobile ul li {
    text-align: center;
    list-style: none;
    margin: 0px;
    padding: 0;
  }
  .nav-mobile ul li {
    padding: 8px;
  }
  .nav-mobile li a {
    padding: 30px;
  }
  .nav-desktop {
    display: none;
  }
}

