* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

body {
  margin: 0;
  color: #141c3a;
}
:root {
  --primary: #6e07f3;
  --white: #ffffff;
  --grey: #f4f4f4;
  --dark: #141c3a;
}
.container {
  min-height: fit-content;
}
/**/
.navbar-container{
  background-color: var(--white);
}
.home {
  background-color: var(--grey);
}
.home-sub-title{
  font-size: 24px;
}
/* about page */
.about {
  background-color: var(--white);
  padding: 100px 0px;
}

/* project page */
.project {
  background-color: var(--grey);
  padding: 100px 0;
}
/* contact page*/
.contact {
  background-color: var(--white);
  padding: 100px 0;
}
/* footer*/
.footer {
  background-color: var(--primary);
  padding: 50px 0;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}
h2 {
  font-size: 40px;
  font-weight: bold;
}
h3 {
  font-size: 32px;
  font-weight: bold;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
p {
  font-size: 18px;
  font-weight: normal;
}

/*BUTTON*/
.btn-outline {
  border-color: var(--primary);
  color: var(--primary);
  max-width: fit-content;
  margin: 0 12px;
}
.btn-outline:hover {
  background-color: var(--primary);
  color: white;
}

/*FOOTER*/

@media (max-width: 850px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  h3 {
    font-size: 22px;
    font-weight: bold;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  p{
    font-size: 16px;
    font-weight: normal;
  }
  /*Home content*/
  .home-title {
    text-align: center;
  }
  .home-sub-title{
    font-size: 18px;
    text-align: center;
  }
  .home-social-icon {
    justify-content: center;
  }
 /* flutter project text*/
 .flutter-project-text{
  text-align: center;
 }
 .project-text{
  text-align: center;
 }
 

}
