*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #141c3a;
  line-height: 1.6;
}


body{
  margin: 0;
}
:root{
  --primary: #6e07f3;
  --secondary: #141c3a;
  --white: #ffffff;
  --grey: #f4f4f4;
}
.container{
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: fit-content;
}
h1{
  font-size: 48px;
  font-weight: bold;
}
h2{
  font-size: 40px;
  font-weight: bold;
}
h3{
  font-size: 32px;
  font-weight: bold;
}
h4{
  font-size: 24px;
}
h5{
  font-size: 20px;
}
p{
  font-size: 18px;
  font-weight: normal;
}
html{
  scroll-behavior: smooth;
}

/*FOOTER*/



@media (max-width: 850px) {
  h1{
    font-size: 28px;
  }
  h2{
    font-size: 24px;
    font-weight: bold;
  }
  h3{
    font-size: 22px;
    font-weight: bold;
  }
  h4{
    font-size: 20px;
  }
  h5{
    font-size: 18px;
  }
  p{
    font-size: 16px;
    font-weight: normal;
  }
}